header{
	background-color: #fff;
}

h3{
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-decoration: none;
}
nav{
	background-color: #D3D3D3;
	padding: 20px;
}

nav a{
	padding: 10px;
}

section{
	background-color: #fff;
	border: 1 px black solid;
	padding: 20px;
}

a{
	color: black; 
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	text-decoration: none;
}

ul{
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin: 35px;
	list-style: square outside none;
	line-height: 1.25em;
}

.hero_image{
	margin-top: 45px;
	margin-bottom: 45px;
	opacity: 0.75;
	position: relative;
	width: 100%;
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 0px;
	padding-bottom: 56.25%;
	overflow: hidden;
}

#image_text{
	position: absolute;
	font-family: 'Nunito', sans-serif;
	font-size: 48px;
	text-transform: capitalize;
	border: 5px black solid;
	padding: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list_container{
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 28px;
	padding: 20px;
	margin: 55px;
	float: left;
}
#two_column{
	background-color: #fff;
	padding: 20px;
}
#left {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
	font-size: 24px; 
    padding: 20px;
    float: left;
    width: 30%;
}
#right {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
	font-size: 24px; 
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }
footer{
	background-color: #D3D3D3;
	padding: 4px;
}
