header{
	background-color: #FFED74;
	border: 1 px black solid;
	padding: 20px;
	margin: 55px;
}

nav{
	background-color: #E8C66A;
	border: 1 px black solid;
	padding: 20px;
}

section{
	background-color: #FFE2B8;
	border: 1 px black solid;
	padding: 20px;
}

.image{
	background-color: #FFE2B8;
	border: 1 px black solid;
	padding: 20px;
}
.list_container{
	background-color: #FFE2B8;
	border: 1 px black solid;
	padding: 20px;
}
#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}
#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
footer{
	background-color: #FF957E
	border: 1 px black solid;
	padding: 20px;
}
