* { margin:0; padding:0; box-sizing:border-box;}
body {
	color:#333;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	line-height:1.3;
}
section {
	/* padding:5em 0; */
}
nav{
	/* background-color: #D3D3D3; */
	float:right;
}
nav a{
	color:inherit;
	display:inline-block;
	padding: 1em;
	text-decoration:none;
}
header img {
	float:left;
	width:10em;
}
h1 {
	font-size:2em;
}
h1 span {
	font-size: .75em;
}
ul{
	list-style: square outside none;
	padding-left:1.25em;
}
.cta {
	color: #fff;
	background: #e1c444;
	padding:1em 2em;
	text-decoration:none;
	display: inline-block;
}
.hero_image{
	margin-bottom: 45px;
	/* opacity: 0.75; */
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding-top: 15em;
}

#image_text{
	font-size: 1.5em;
	text-transform: capitalize;
	text-align: center;
}
#two_column {
	margin:auto;
	max-width: 45em;
}
#two_column div {
	float:left;
	padding:2em;
	width:50%;
}
#two_column img {
	width:100%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }
footer{
	background-color: #D3D3D3;
	padding:4em;
}
