*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: white; 
	font-size: 20px; 
	color:#222222;
}

header{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}	

img {
width: 100%;
display: block;
max-width: 100%;
}

a{
	color: black; 
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	text-decoration: none;
}
h1{
	color: #FFD24B; 
	font-family: Helvetica; 
	font-size: 65px;
	font-weight: bold;
	text-align: center;
}

h2{
	color:black; 
	font-family: 'Nunito', sans-serif;
	font-size: 32px;
	font-weight: normal;
	text-align: left;
	}

h3{
  	color:#DAA520; 
	font-family: 'Nunito', sans-serif;
	font-size: 44px;
	font-weight: normal;
	text-align: center;
}
#nav     {
    float: right;
    }

#nav a:hover{font-weight: bold;
			background-color:#DAA520;
			}


.hero_image{
	margin-top: 45px;
	margin-bottom: 45px;
	opacity: 0.75;
	position: relative;
	width: 100%;
	background-image: url(../images/Computer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 0px;
	padding-bottom: 56.25%;
	overflow: hidden;

}

#image_text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#list_container{
	padding: 30px;
}
ul{
    color:black;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 29px;
	text-align: left;
	list-style-type: none;
	border-style: solid;
	
}

ul li{
margin-bottom: 20px;

}
